.poller-one-regular {
  font-family: "Poller One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo{
display: flex;
justify-content: center;
padding-top: 40px;
}
.menu{
display: flex;
align-items: center;
justify-content: center;
padding: 50px 0px;
}
.menu a{
text-decoration: none;
color: black;
margin-right: 40px;
text-transform: uppercase;
font-size: 14px;
opacity: 0.8;
}
.menu a:hover{
color: #09a39c;
}
.menu a.active{
color: #09a39c;
}
.main-content-about{
/* display: flex;
justify-content: center; */
width: 700px;
margin: 0px auto;
}
#title{
display: flex;
justify-content: center;
}
h1{
text-align: center;
font-size: 35px;
background: #252525;
text-transform: uppercase;
color: white;
padding: 10px 15px;
}
.image-container img{
border: 2px solid black;
}
.content-text h4{
text-align: center;
font-size: 1.17em;
}
.content-text a{
color: black;
}
footer{
display: flex;
}
.bottom{
color: white;
background: #252525;
justify-content: center;
text-align: left;
width: 100%;
margin-bottom: 45px;
display: flex;
justify-content: space-between;
padding: 50px 100px;
}
.fa{
font-size: 25px;
margin-right: 15px;
border: 2px solid white;
padding: 8px;
}
a .fa{
color: white;
background-color: .fa{
font-size: 25px;
margin-right: 15px;
border: 2px solid white;
padding: 8px;
}
a .fa{
color: white;
background-color: #252525;
}
.fa:hover{
color: black;
background-color: white;
};
}
.fa:hover{
color: black;
background-color: white;
}