.main-content{
	display: flex;
	justify-content: center;
}
.main-content-about{
	width: 700px;
}
#title{
	display: flex;
	justify-content: center;
}
#title h1{
	color: white;
	background-color: #252525;
	text-transform: uppercase;
	font-size: 35px;
	padding: 10px 25px;
}
.image-container{
	display: flex;
	justify-content: center;
}
.image-container img{
	border: 2px solid black;	
}
.content-container h2{
	text-align: center;
	font-size: 25px;
	font-family: "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
}
.content-container p{
	line-height: 25px;
	color: #252525;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal:
	font-size: 14px;
	text-align: center;
}
.content-container p a{
	color: #252525;
}
.content-container p a:hover{
	color: #898989;
}