footer{
display: flex;
justify-content: center;
background: #252525;
margin-bottom: 35px;
}
.bottom{
color: white;
text-align: left;
width: 70%;
display: flex;
justify-content: space-between;
padding: 50px 0px;
}
.fa{
font-size: 25px;
margin-right: 15px;
border: 2px solid white;
width: 50px;
text-align: center;
}
a .fa{
color: white;
font-size: 25px;
margin-right: 15px;
border: 2px solid white;
}
a .fa{
color: white;
background-color: #252525;
}
.fa:hover{
color: black;
background-color: white;
};
}
.fa:hover{
color: black;
background-color: white;
}