footer{
display: flex;
justify-content: center;
background: #252525;
}
.bottom{
color: white;
text-align: left;
width: 70%;
margin-bottom: 45px;
display: flex;
justify-content: space-between;
padding: 50px 100px;
}
.fa{
font-size: 25px;
margin-right: 15px;
border: 2px solid white;
/* padding: 8px; */
width: 50px;
padding-top: 6px;
padding-bottom: 6px;
text-align: center;
}
a .fa{
color: white;
background-color: .fa{
font-size: 25px;
margin-right: 15px;
border: 2px solid white;
padding: 8px;
}
a .fa{
color: white;
background-color: #252525;
}
.fa:hover{
color: black;
background-color: white;
};
}
.fa:hover{
color: black;
background-color: white;
}