.main-content-about{
	background: red;
}

#title{
display: flex;
justify-content: center;
}
h1{
text-align: center;
font-size: 35px;
background: #252525;
text-transform: uppercase;
color: white;
padding: 10px 15px;
}
.images-container{
display: flex;
align-items: center;
justify-content: center;
margin-top: 5px;
}
#img{
border: 2px solid black;
margin: 5px 10px;
opacity: 0.8;
}
#img img:hover{
opacity: 1;
cursor: pointer;
}
