body{
margin: 0px;
}
.poller-one-regular {
  font-family: "Poller One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header{
display: flex;
align-items: center;
justify-content: center;
}
.logo{
display: flex;
justify-content: center;
padding-top: 40px;
}
.menu{
display: flex;
align-items: center;
justify-content: space-between;
padding: 50px 0px;
}
.menu a{
text-decoration: none;
color: black;
margin-right: 30px;
font-size: 25px;
text-transform: uppercase;
font-size: 14px;
opacity: 0.8;
}
.menu a:hover{
color: #09a39c;
}
.menu a.active{
color: #09a39c;
}