.content-image{
position: relative;
}
.content-text{
position: absolute;
top: 15px;
right: 20px;
margin-right: 200px;
margin-top: 90px;
}
#black-text{
background: white;
font-size: 22px;
text-transform: uppercase;
padding: 15px; 
}
#text-container, #text-container2, #text-container3{
display: flex;
margin-top: 20px;
}
#text-container div, #text-container2 div, #text-container3 div{
background: #252525;
color: white;
font-size: 20px;
padding: 15px;
}
button{
font-size: 18px;
background-color: #09a39c;
border: none;
color: white;
padding: 20px 30px;
text-transform: uppercase;
margin-top: 20px;
}
img{
display: block;
max-width: 100%;
}
.images-container{
display: flex;
align-items: center;
justify-content: center;
margin-top: 50px;
}
.images-container h1{
text-align: center;
}
#img{
margin-right: 20px;
border: 2px solid black;
opacity: 0.8;
}
.images-container2 img{
display: flex;
}
#father:hover img, #actor:hover img, #nerd:hover img{
opacity: 1;
}